<!--шаблон, который наследуется другми файлами для html странички -->

{% load static %} <!-- указываем, что в этом документе будем работать с статическими файлами -->

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}{% endblock %}</title>  <!-- да, да, тут та самая секция, так же и в остальных -->
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}"> <!-- подключаем стили бутстрап -->
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}"> <!-- подключаем статический файл стилей-->

</head>
<body>
    <aside>
        <span class="logo">ASUTP Viewer</span>
        <h3>Навигация</h3>

        <ul>
            <a href="{% url 'index' %}">
                <li>
                Все объекты
                </li>
            </a>

            <a href="{% url 'clinics' %}">
                <li>
                Клиники
                </li>
            </a>

            <a href="{% url 'kalugak1k2' %}">
                <li>
                Калуга K1, K2
                </li>
            </a>

            <a href="{% url 'kalugak3k4' %}">
                <li>
                Калуга К3, К4
                </li>
            </a>

            <a href="{% url 'sergievsk' %}">
                <li>
                Сергиевск
                </li>
            </a>

        </ul>
    </aside>

        {% block content %}  <!-- шаблонизатор Jinja, между этими конструкциями вставляем код -->
        {% endblock %}  <!-- закрытие конструкции -->

</body>
</html>


